.header-top {
    background-color: $bg-color-black;
}
.header-top__inner {
    padding-block: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top__burger-menu {
    display: none;
}
.header__menu-items {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header__menu-item {
    position: relative;
    padding: 6px 20px;
    border-inline-end: 1px solid $border-color;
    &:first-child {
        padding-inline-start: 0;
    }
    &:last-child {
        border-inline-end: 0;
    }
}
.header__menu-item-link {
    font-size: 15px;
    color: $white;
    text-decoration: none;
    &:hover {
        color: $text-color-secondary;
    }
}
.header__submenu-wrapper {
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 1000;
    display: none;
}
.header__submenu-items {
    padding: 0;
    margin-top: 13px;
    width: max-content;
    background-color: $white;
    border: 1px solid $border-color;
}
.header__submenu-item-link {
    padding: 14px 25px;
    display: block;
    font-size: 15px;
    color: $text-color-black;
    text-decoration: none;
    &:hover {
        color: $text-color-black;
        background-color: rgba(214, 214, 214, 1);
    }
}
.header__menu-item {
    &:hover .header__submenu-wrapper {
        display: block;
    }
}
.header-top__button {
    padding: 0;
    border: 0;
    background: none;
}
.header-top__button-link {
    padding: 11px 25px;
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: $text-color-black;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(232, 216, 182, 1);
}

.header-bottom__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header-bottom__site-logo {
    padding-block: 10px;
    margin-inline-end: 45px;

}
.header-bottom__site-logo-link {
    display: block;
}
.header-bottom__menu-items {
    padding: 0;
    display: flex;
    align-self: center;
}