.header-top {
    background-color: $bg-color-black;
}
.header-top__inner {
    padding-block: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu-items {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header__menu-item {
    position: relative;
    padding: 6px 20px;
    border-inline-end: 1px solid $border-color;
    &:last-child {
        border-inline-end: 0;
    }
}
.header__menu-item-link {
    font-size: 15px;
    color: $white;
    text-decoration: none;
    &:hover {
        color: $text-color-secondary;
    }
}
.header__submenu-items {
    position: absolute;
    top: 25px;
    left: 0;
    display: none;
}
.header__menu-item {
    &:hover .header__submenu-items {
        display: block;
    }
}