@mixin h1-title {
    font-size: 24px;
    font-weight: 500;
    color: $text-color-black;
}

@mixin h5-title {
    font-size: 17px;
    font-weight: 500;
    color: $text-color-black;
}

@mixin page-description {
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    color: $text-color-black;
}
@mixin teaser-description {
    font-size: 14px;
    font-weight: 300;
    color: $text-color-black;   
}
@mixin load-more-button {
    display: block;
    padding: 14px 25px;
    font-size: 13px;
    font-weight: 400;
    color: $color-white;
    background-color: RGBA(212, 193, 152, 1);
    &:hover {
        background-color: RGBA(201, 156, 71, 1);
    }
}