.contacts__inner {
    padding-block: 35px 70px;
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
    row-gap: 40px;
}
.contacts__info {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}